/* include("../lessFunction/fn.less") */

.btn {
	@padding-lr: 15px;
	@padding-tb: 10px;
	@background-rgb: ~'10, 170, 245';
	font-size: 14px;
	border-radius: 4px;
	background: ~'rgb(@{background-rgb})';
	display: inline-block;
	color: white;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	padding: @padding-tb @padding-lr;
	line-height: 1.2;
	.transition(all 600ms ease);
	&:active {
		.box_shadow(0 0 5px rgb(12, 108, 152) inset);
	}
	&.actived {
		background: #aaa;
		&:active {
			.box_shadow(none);
		}
		span {
			.opacity(0);
			.transform(translate(-200%, 0));
		}
		b {
			.opacity(1);
			.transform(translate(0, 0));
		}
	}
	span, b {
		.transition(all 600ms ease);
	}
	span {
		display: block;
	}
	b {
		.opacity(0);
		.transform(translate(100%, 0));
		padding: @padding-tb 0;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		text-align: center;
	}
	&.btn_dr {
		b {
			.transform(translate(-100%, 0));
		}
		&.actived {
			b {
				.transform(translate(0, 0));
			}
			span {
				.transform(translate(200%, 0));
			}
		}
	}
	&.btn_du {
		b {
			.transform(translate(0, 100%));
		}
		&.actived {
			b {
				.transform(translate(0, 0));
			}
			span {
				.transform(translate(0, -200%));
			}
		}
	}
	&.btn_dd {
		b {
			.transform(translate(0, -100%));
		}
		&.actived {
			b {
				.transform(translate(0, 0));
			}
			span {
				.transform(translate(0, 200%));
			}
		}
	}


	&.btn_m {
		font-size: 16px;
	}
	&.btn_l {
		font-size: 18px;
	}
	&.btn_xl {
		font-size: 20px;
	}
}